@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-gray-800 text-white transition duration-300;
}

.btn-blue:hover {
  @apply bg-gray-700;
}

.btn-blue:focus {
  @apply outline-none shadow-sm;
}

.input-box-default {
  @apply appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.input-box-default:focus {
  @apply outline-none border-gray-500;
}

.error-p-tag {
  @apply text-red-500 border border-red-500 p-2 mt-3 rounded bg-red-100;
}

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.form-additional {
  @apply inline-block align-baseline font-bold text-sm text-gray-800 hover:text-gray-500;
}

.navbar-anchor {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}
